In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
from datetime import datetime as dt

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_data = pd.ExcelFile('crowdfunding.xlsx')

# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [3]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [4]:
# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [5]:
# Get a brief summary of the crowdfunding_info DataFrame. 
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [6]:
# Get a brief summary of the contact_info DataFrame. 
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 1 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   contact_info  1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [7]:
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [8]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [9]:
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [10]:
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

In [11]:
# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
scat_ids = ["scat" + str(scat_id) for scat_id in subcategory_ids ]

print(cat_ids)
print(scat_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5', 'cat6', 'cat7', 'cat8', 'cat9']
['scat1', 'scat2', 'scat3', 'scat4', 'scat5', 'scat6', 'scat7', 'scat8', 'scat9', 'scat10', 'scat11', 'scat12', 'scat13', 'scat14', 'scat15', 'scat16', 'scat17', 'scat18', 'scat19', 'scat20', 'scat21', 'scat22', 'scat23', 'scat24']

In [12]:
category_df = pd.DataFrame({
    "category_id" : cat_ids,
    "category" : categories

})
category_df

  category_id      category
0        cat1          food
1        cat2         music
2        cat3    technology
3        cat4       theater
4        cat5  film & video
5        cat6    publishing
6        cat7         games
7        cat8   photography
8        cat9    journalism

In [13]:
subcategory_df = pd.DataFrame({
    "subcategory_id" : scat_ids,
    "subcategory" : subcategories
})
subcategory_df.head(10)

  subcategory_id     subcategory
0          scat1     food trucks
1          scat2            rock
2          scat3             web
3          scat4           plays
4          scat5     documentary
5          scat6  electric music
6          scat7           drama
7          scat8      indie rock
8          scat9       wearables
9         scat10      nonfiction

In [14]:
category_df.to_csv("category.csv", index=False)
subcategory_df.to_csv("subcategory.csv", index=False)

In [15]:
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [16]:
campaign_df = campaign_df.rename(columns={'blurb':'description', 'launched_at':'launched_date', 'deadline':'end_date'})

In [17]:
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   description              1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_date            1000 non-null   int64
 10  end_date                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
 14  category                 1000 non-null   object
 15  subcategory              1000 non-null   object
dtypes: bool(2), int64(6), object(8)
memory usage: 111.5+ KB

In [18]:
campaign_df[['goal', 'pledged']] = campaign_df[['goal', 'pledged']].astype(float)
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   description              1000 non-null   object
 3   goal                     1000 non-null   float64
 4   pledged                  1000 non-null   float64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_date            1000 non-null   int64
 10  end_date                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
 14  category                 1000 non-null   object
 15  subcategory              1000 non-null   object
dtypes: bool(2), float64(2), int64(4), object(8)
memory usage: 111.5+ KB

In [19]:
campaign_df["launched_date"] = pd.to_datetime(campaign_df['launched_date'], unit='s').dt.strftime('%Y-%m-%d')
campaign_df["end_date"] = pd.to_datetime(campaign_df["end_date"], unit='s').dt.strftime('%Y-%m-%d')
campaign_df.head()

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays

In [20]:
campaign_merged_df = campaign_df.merge(category_df, on='category', how='left').merge(subcategory_df, on='subcategory', how='left')
campaign_merged_df.head()

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,False,False,food/food trucks,food,food trucks,cat1,scat1
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,False,True,music/rock,music,rock,cat2,scat2
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,False,False,technology/web,technology,web,cat3,scat3
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,False,False,music/rock,music,rock,cat2,scat2
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,False,False,theater/plays,theater,plays,cat4,scat4

In [21]:
campaign_cleaned = campaign_merged_df.drop(['staff_pick', 'spotlight', 'category & sub-category', 'category', 'subcategory'], axis=1)
campaign_cleaned.head()

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,scat1
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,scat2
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,scat3
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,scat2
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,scat4

In [22]:
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

In [23]:
# Retrieve the data from the "contact_info" column.
contact_info_list = contact_info_df['contact_info'].to_list()

# Pop out the unique identification number using list slicing. 
print(contact_info_list[0][:15])
print(contact_info_list[0][15:19])

{"contact_id":
4661

In [24]:
print([x[15:19] for x in contact_info_list])

['4661', '3765', '4187', '4941', '2199', '5650', '5889', '4842', '3280', '5468', '3064', '4904', '1299', '5602', '5753', '4495', '4269', '2226', '1558', '2307', '2900', '5695', '5708', '1663', '3605', '4678', '2251', '6202', '3715', '4242', '4326', '5560', '4002', '3813', '5336', '4994', '1471', '4482', '3241', '3477', '2265', '5911', '2288', '4064', '1294', '5008', '3604', '3263', '5631', '2851', '3714', '1664', '5027', '3070', '4248', '2034', '4085', '3569', '3889', '3136', '2103', '2329', '3325', '3131', '4995', '3631', '5373', '3126', '2194', '2906', '2611', '2374', '3254', '3571', '2812', '3961', '3872', '4736', '5119', '5725', '4037', '2109', '3283', '6181', '3251', '3443', '2988', '1673', '2085', '1672', '4426', '3211', '3190', '2081', '3185', '5044', '1883', '2067', '4604', '3203', '5758', '5755', '5150', '4181', '3006', '4865', '2862', '6070', '5300', '3486', '5989', '2849', '1612', '3307', '5288', '6026', '2212', '4591', '2771', '5682', '5368', '3706', '4034', '3209', '2384', '3074', '2031', '5873', '5501', '3489', '4210', '6151', '6047', '5445', '5493', '6036', '2368', '1501', '4351', '3096', '6162', '1433', '2720', '5251', '1797', '1656', '1346', '2989', '5629', '3456', '3229', '2277', '1276', '3694', '2260', '5374', '4420', '3849', '1638', '5230', '1763', '4323', '5256', '4836', '5981', '1463', '4577', '4951', '3567', '5475', '2114', '5216', '1665', '6051', '3983', '2966', '4478', '4238', '4404', '5666', '3691', '2703', '4253', '5652', '3279', '3233', '3017', '3482', '2166', '4146', '2651', '1409', '3717', '3963', '2152', '2974', '1268', '1822', '5066', '5075', '3855', '5923', '1867', '4376', '2785', '5884', '2441', '1243', '3411', '2467', '1850', '2604', '1693', '2969', '1544', '4149', '3463', '2939', '2202', '1728', '5362', '4840', '2955', '5354', '3847', '3025', '1615', '5154', '5005', '1349', '3670', '2912', '4336', '5576', '2736', '3321', '3353', '2336', '4369', '4464', '5626', '1669', '5544', '6078', '2580', '3592', '4914', '3848', '2619', '4605', '6147', '1383', '1757', '4390', '4165', '4529', '6084', '2916', '2005', '2261', '5342', '4087', '2761', '2908', '2155', '5642', '6217', '4222', '4798', '5660', '5000', '2809', '3349', '3647', '5745', '2583', '5441', '2090', '3386', '1816', '4718', '1677', '4218', '4548', '1431', '2830', '4400', '5773', '4161', '2062', '3458', '3174', '5565', '1906', '5479', '4320', '4213', '3373', '4184', '5472', '5559', '5419', '4171', '1302', '3520', '6010', '4617', '1417', '4770', '4328', '5171', '4394', '1794', '3510', '2487', '2215', '4136', '3723', '5842', '3289', '1249', '5409', '2951', '3432', '2297', '6161', '4603', '5818', '4270', '6007', '4084', '1340', '5675', '2010', '6201', '1791', '3314', '5852', '4618', '2618', '4967', '4594', '2080', '2793', '4890', '3528', '5810', '5720', '4593', '3186', '5136', '2646', '3460', '4345', '2690', '4025', '4524', '3978', '3910', '5825', '3564', '2396', '2140', '3079', '2017', '5444', '2216', '1241', '1484', '3475', '4333', '5657', '2527', '5967', '5698', '3331', '3841', '6105', '3895', '1891', '1281', '4186', '2511', '4272', '3533', '3618', '2177', '4102', '6089', '4701', '5645', '4499', '3365', '2290', '1890', '1304', '3799', '2749', '2028', '2383', '5721', '1394', '3451', '5512', '2453', '6055', '5704', '3707', '2205', '5976', '3290', '4257', '4588', '4785', '3033', '2779', '2131', '6229', '3429', '1613', '4734', '4439', '1441', '5799', '1419', '3059', '3224', '3181', '6061', '4466', '6081', '2159', '3324', '3176', '5874', '5110', '5490', '1922', '4398', '4754', '3309', '1244', '2892', '2777', '4952', '5144', '5487', '1932', '3364', '5165', '3858', '4666', '2896', '4520', '5726', '5661', '4765', '3710', '4925', '1533', '5264', '4606', '2043', '3871', '6205', '3193', '1810', '4797', '1487', '3474', '5771', '6074', '1568', '4263', '5850', '5619', '1904', '5388', '2150', '2653', '2687', '3779', '1494', '4129', '3035', '2069', '5469', '3903', '4083', '4003', '3565', '1640', '4769', '3398', '1865', '5690', '3814', '2942', '5095', '2878', '3697', '4744', '2104', '4883', '4807', '1372', '3666', '2066', '1834', '5853', '2219', '4148', '4477', '1786', '3455', '5707', '5470', '3274', '4613', '4465', '1652', '2100', '4321', '4168', '3733', '2594', '3909', '5179', '2228', '6222', '2354', '1725', '2960', '2077', '5662', '3481', '2565', '4436', '5072', '5200', '4502', '4945', '3012', '6094', '3815', '4838', '3469', '4874', '1792', '4356', '6196', '3578', '4491', '3054', '1968', '5869', '5858', '5203', '2577', '3216', '2037', '3867', '5109', '1376', '5260', '2350', '2269', '3650', '3934', '4048', '4266', '3863', '4922', '4517', '3259', '3123', '3870', '2996', '2993', '4556', '2326', '4109', '5739', '5887', '1651', '1628', '2642', '6020', '4747', '5534', '4790', '4632', '1952', '4388', '5529', '1316', '1670', '4909', '3401', '4619', '4722', '2188', '5497', '5711', '4076', '1847', '2816', '5019', '4869', '3613', '3069', '2601', '2133', '3164', '3897', '5663', '3879', '5900', '2272', '5436', '3676', '4676', '1563', '4349', '1658', '2552', '4847', '1553', '2632', '1908', '5801', '1935', '2609', '2740', '1907', '1831', '5177', '6179', '2917', '1486', '3735', '3838', '2430', '2480', '3431', '1742', '4628', '2385', '2213', '5188', '3418', '5637', '3530', '3731', '3219', '2392', '5103', '3992', '2442', '2913', '1631', '4073', '4568', '1830', '2623', '4327', '3713', '2389', '5141', '3522', '1334', '4721', '3768', '1639', '5149', '2153', '2767', '5124', '2097', '4796', '5849', '1495', '2462', '2280', '1877', '6108', '4427', '2881', '2339', '5156', '4750', '4852', '5734', '3801', '4474', '1992', '5796', '1373', '1879', '3072', '4561', '5201', '5871', '3041', '5864', '3999', '4849', '5461', '5946', '4508', '5096', '5443', '2165', '2125', '6141', '5245', '2190', '2243', '3336', '3305', '6191', '1326', '6159', '2003', '5881', '1918', '2157', '3149', '2444', '6207', '5580', '5942', '1592', '2344', '5995', '5022', '5991', '4020', '6028', '2790', '4033', '1261', '1979', '2122', '4506', '3016', '3272', '1375', '4014', '3199', '2184', '2170', '1478', '6163', '1889', '5912', '2537', '2118', '3234', '3842', '3032', '3238', '2059', '5238', '2578', '4789', '2357', '1235', '3558', '1707', '2842', '5318', '1620', '4998', '3111', '1424', '3244', '4643', '6132', '3790', '1312', '5686', '2111', '5685', '1905', '3271', '4178', '3275', '5713', '3339', '5585', '4407', '1941', '4690', '3607', '2670', '5261', '4121', '4620', '4630', '3440', '3572', '5306', '5122', '1368', '5370', '5636', '6033', '3599', '5566', '1873', '3904', '4453', '5481', '2987', '2431', '4158', '3753', '4391', '2026', '4547', '2798', '4732', '5126', '5151', '2134', '5786', '5515', '4530', '4088', '3667', '3286', '4804', '5768', '6098', '2508', '5779', '1717', '3368', '4265', '4455', '2940', '6144', '3657', '1537', '2116', '5102', '5815', '4250', '4533', '3329', '3606', '4749', '2222', '1939', '2456', '2794', '2648', '2545', '3273', '6155', '6064', '1729', '4969', '3402', '2810', '2217', '5140', '4497', '5100', '3390', '1926', '3264', '2573', '3628', '3826', '5983', '5678', '2093', '5333', '5139', '3173', '3333', '2262', '1531', '4881', '3928', '1803', '2321', '6234', '1422', '2660', '5361', '3420', '4337', '2338', '4140', '2373', '1344', '2141', '3415', '5696', '1798', '1657', '3651', '3574', '6063', '2404', '2705', '5059', '5466', '5821', '5385', '3506', '5427', '6142', '2873', '3916', '1687', '1542', '3087', '3857', '5921', '3144', '2676', '3646', '1321', '1399', '3169', '2058', '1300', '2075', '2984', '4768', '3682', '5901', '3540', '2225', '1485', '5343', '5594', '2482', '2706', '4861', '2961', '3043', '6103', '4708', '4395', '4912', '2030', '5235', '5001', '4093', '2576', '6122', '2813', '3737', '2803', '5508', '3850', '4220', '4532', '6013', '3396', '4401', '2981', '4467', '1377', '5036', '5761', '3699', '4519', '5395', '3057', '2741', '1675', '2712', '4527', '1722', '4330', '5219', '4997', '2239', '4587', '4113', '4762', '5242', '5765', '2185', '5500', '3494', '3924', '3521', '5262', '3684', '5784', '1498', '6073', '4939']

In [25]:
# Extract the four-digit contact ID number and add it to a new column in the `campaign_cleaned` DataFrame.
campaign_cleaned["contact_id"] = [x[15:19] for x in contact_info_df["contact_info"].values]
campaign_cleaned.head()

,cf_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,category_id,subcategory_id,contact_id
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13,2021-03-01,cat1,scat1,4661
1,1621,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25,2021-05-25,cat2,scat2,3765
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17,2021-12-30,cat3,scat3,4187
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21,2022-01-17,cat2,scat2,4941
4,1365,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21,2021-08-23,cat4,scat4,2199

In [26]:
campaign_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cf_id           1000 non-null   int64
 1   company_name    1000 non-null   object
 2   description     1000 non-null   object
 3   goal            1000 non-null   float64
 4   pledged         1000 non-null   float64
 5   outcome         1000 non-null   object
 6   backers_count   1000 non-null   int64
 7   country         1000 non-null   object
 8   currency        1000 non-null   object
 9   launched_date   1000 non-null   object
 10  end_date        1000 non-null   object
 11  category_id     1000 non-null   object
 12  subcategory_id  1000 non-null   object
 13  contact_id      1000 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 117.2+ KB

In [27]:
# Convert the "contact_id" column to an int64 data type.
campaign_cleaned['contact_id'] = pd.to_numeric(campaign_cleaned['contact_id'])
campaign_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cf_id           1000 non-null   int64
 1   company_name    1000 non-null   object
 2   description     1000 non-null   object
 3   goal            1000 non-null   float64
 4   pledged         1000 non-null   float64
 5   outcome         1000 non-null   object
 6   backers_count   1000 non-null   int64
 7   country         1000 non-null   object
 8   currency        1000 non-null   object
 9   launched_date   1000 non-null   object
 10  end_date        1000 non-null   object
 11  category_id     1000 non-null   object
 12  subcategory_id  1000 non-null   object
 13  contact_id      1000 non-null   int64
dtypes: float64(2), int64(3), object(9)
memory usage: 117.2+ KB

##

In [29]:
# Exporting the dataframe as a CSV file
campaign_cleaned.to_csv('campaign.csv', index=False)